  #btnRight {
    position: fixed;
    bottom: 0;
    right: 0;
  }
  
  #btnLeft {
    position: fixed;
    bottom: 0;
    left: 0;
  }

  #btnPlayPause {
    position: fixed;
    bottom: 0;
    left: 34%;
  }

  #shuffle {
    position: fixed;
    top: 0;
    left: 75%;
  }